<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequence Analysis</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Central Dogma Result</h1>

        <div class="mt-5">
            <h2>Original Sequence</h2>
            <pre>{{ original_sequence }}</pre>
        </div>

        <div class="mt-5">
            <h2>Modified Sequences</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Sequence Type</th>
                        <th>Sequence</th>
                    </tr>
                </thead>
                <tbody>
                    {% for seq_type, seq_content in modified_sequences %}
                        <tr>
                            <td>{{ seq_type }}</td>
                            <td>{{ seq_content }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Form for downloading modified sequences -->
        <div class="mt-5">
            <h2>Download Modified Sequences</h2>
            <ul>
                <li><a href="{{ url_for('download', filename='original.fasta', accession_code=accession_code) }}">Download Original Sequence</a></li>
                <li><a href="{{ url_for('download', filename='complement.fasta', accession_code=accession_code) }}">Download Complement Sequence</a></li>
                <!-- Add links for other modified sequences -->
            </ul>
        </div>
    </div>

    <!-- Including Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

